<div class="container-card-grande">

<div class="imagem-card-grande">
<img
 src="https://s2.glbimg.com/XwIwsGF1t60btsp3Bgm0oaDWOz0=/620x455/e.glbimg.com/og/ed/f/original/2022/03/30/como-cultivar-girassol-pexe.jpg"
 alt=""
height="300px"
  srcset="">
</div>


<div class="titulo-card-grande">
 <h1><a href="">GIRASSOL</a></h1>
</div>

<div class="descricao-carde-grande">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, provident consectetur. Id quas, dolore expedita praesentium harum qui omnis sapiente nulla maxime similique, pariatur, voluptates rerum accusantium iste beatae reprehenderit? </p>
</div>

</div>
