

<app-menu-titulo></app-menu-titulo>

<div class="container-artigos">
  <div class="principal-artigo">
    <app-card-grande
  Id="1"    fotoCover="https://s2.glbimg.com/XwIwsGF1t60btsp3Bgm0oaDWOz0=/620x455/e.glbimg.com/og/ed/f/original/2022/03/30/como-cultivar-girassol-pexe.jpg"
    cardTitulo="GIRASSOL"
    cardDescricao="A flor do girassol tem uma característica instintiva conhecida por todo mundo, pois a planta se  posiciona na direção do sol durante o dia todo. O girassol simboliza a luz do sol, a vivacidade e a alegria, por isso você pode  presentear uma pessoa com um buquê ou até mesmo com a planta em vaso.">

    </app-card-grande>
  </div>
  <div class="outros-artigos">
    <app-card-pequeno
    Id="2"
      cardPequenoImagem="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFMF4ioyeltGX2viJelKovpHIz910T0kGBhA&usqp=CAU"
      cardPequenoTitulo="MARGARIDA. Simboliza a juventude, o amor inocente e a sensibilidade."
    >
  </app-card-pequeno>
    <app-card-pequeno
    Id="3"
      cardPequenoImagem="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3J3Ts7qxFfA0wy7E2qE_fAg2fNoA_UkyVrQ&usqp=CAU"
      cardPequenoTitulo="TULIPA. As tulipas simbolizam o amor perfeito. "
>
</app-card-pequeno>
    <app-card-pequeno
    Id="4"
    cardPequenoImagem="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5_ONmLokMvKjJdoPWgoYSD_lAzN476ciscg&usqp=CAU"
    cardPequenoTitulo="ROSA. Símbolo da pureza."
    >
  </app-card-pequeno>
  </div>
</div>
